<ion-toolbar color="secondary">
  <ion-buttons slot="start">
    <ion-button color="light" href="/recibos-pago">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
	<ion-slides [options] ="sliderConfig" *ngIf="data">
		<ion-slide>

			<div style="width: 100%; position: absolute; background-color: #0984e3; height: 100px; z-index: 9999; top: 0; border-bottom-right-radius: 3rem; border-bottom-left-radius: 3rem;">
				<h1 class="text-center" style="color: #fff;">Datos Trabajador</h1>
			</div>

			<ion-list class="list">
			  	<ion-item >
				    <h1 class="text-center capitalize">{{ data[0].nombres }}</h1>
			  	</ion-item>



		  		<ion-item class="item ios in-list ion-focusable item-label hydrated">
		          <ion-icon name="business" color="primary"></ion-icon>
		          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated padding-label">
		            <p>{{ data[0].dendep }}</p>
		          </ion-label>
		        </ion-item>
	  	


		  		<ion-item class="item ios in-list ion-focusable item-label hydrated">
		          <ion-icon name="briefcase" color="primary"></ion-icon>
		          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated padding-label">
		            <p>{{ data[0].denasicar }}</p>
		          </ion-label>
		        </ion-item>



		  		<ion-item class="item ios in-list ion-focusable item-label hydrated">
		          <ion-icon name="calendar" color="primary"></ion-icon>
		          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated padding-label">
		            <p>{{ data[0].fecdesper }} - {{ data[0].fechasper }}</p>
		          </ion-label>
		        </ion-item>

			  	<h3 class="text-center">

			        <p><ion-icon name="cash" class="fs-40"></ion-icon></p>
			        <p> {{ sueldoNeto.toFixed(2) | number:'2.2-2' }} Bs.</p>
			        <!--<p>{{ data[0].sueper }} Bs.</p>-->

			  	</h3>


		  		<button class="round-button">
		  			<ion-icon name="arrow-round-forward"></ion-icon>
		  		</button>
		  		<p class="text-center" style="margin-top: 84px;">
		  			Desliza
		  		</p>


			</ion-list>

		</ion-slide>
		<ion-slide>

			<div style="width: 100%; position: absolute; background-color: #0984e3; height: 100px; z-index: 9999; top: 0; border-bottom-right-radius: 3rem; border-bottom-left-radius: 3rem;">
				<h1 class="text-center" style="color: #fff;">Asignaciones</h1>
			</div>

			<ion-list class="list">
			  	<div *ngFor="let conceptos of desglose">

				  	<ion-item *ngIf="conceptos.nomcon && conceptos.tipsal == 'A '">
					    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" >{{ conceptos.nomcon }}
					    	<p>{{ conceptos.valsal}} BS.</p>
					    </ion-label>
				  	</ion-item>
			  	</div>

			  	<button class="round-button" style="margin-top: 25px;">
		  			<ion-icon name="arrow-round-forward"></ion-icon>
		  		</button>
		  		<p class="text-center" style="margin-top: 84px;">
		  			Desliza
		  		</p>

			</ion-list>

		</ion-slide>

		<ion-slide>

			<div style="width: 100%; position: absolute; background-color: #0984e3; height: 100px; z-index: 9999; top: 0; border-bottom-right-radius: 3rem; border-bottom-left-radius: 3rem;">
				<h1 class="text-center" style="color: #fff;">Deducciones</h1>
			</div>

			<ion-list class="list">
			  	<div *ngFor="let conceptos of desglose">

				  	<ion-item *ngIf="conceptos.nomcon && (conceptos.tipsal == 'P1' || conceptos.tipsal == 'D ') ">
					    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" >{{ conceptos.nomcon }}
					    	<p>{{ conceptos.valsal}} BS.</p>
					    </ion-label>
				  	</ion-item>
			  	</div>


			</ion-list>

		</ion-slide>
	</ion-slides>

</ion-content>
