<ion-content>

	<div id="square" color="secondary">

		<ion-grid>
		  <ion-row>
		    <ion-col>
		      <div>
		        <ion-icon name="arrow-round-back" (click)="goBack()"></ion-icon>
		      </div>
		    </ion-col>
		    <ion-col>
		      <div>
		       	<h1 class="text-center">PAGOS</h1>
		      </div>

		    </ion-col>
		    <ion-col>

		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>

	<div class="name">
		<ion-grid>
			<ion-row>
				<ion-col size="8" offset="2">
					 <div class="custom-card">
					 	<div class="active-icon"></div>
				       	<p class="text-center"> {{ name }}</p>
				      </div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div id="list">
		<ion-list>

		  	<ion-select>

		  	</ion-select>


		</ion-list>
	</div>


</ion-content>
