<ion-content>

	<!--<div id="square" color="secondary">

		<ion-grid>
		  <ion-row>
		    <ion-col>
		      <div>
		        <ion-icon name="arrow-round-back" (click)="goBack()"></ion-icon>
		      </div>
		    </ion-col>
		    <ion-col>
		      <div>
		       	<h1 class="text-center">PAGOS</h1>
		      </div>

		    </ion-col>
		    <ion-col>

		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>-->

	<!--<div class="name">
		<ion-grid>
			<ion-row>
				<ion-col size="8" offset="2">
					 <div class="custom-card">
					 	<div class="active-icon"></div>
				       	<p class="text-center"> {{ name }}</p>
				      </div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>-->

	<div class="bg"></div>

	<div id="square" color="secondary">
		<div id="square-cover">

			<ion-grid>
				<ion-row style="margin-top: -40px;">
						<ion-col>
							<p class="text-center">
								<img src="../assets/img/notif.png" style="width: 40px" alt="">
							</p>
						</ion-col>
						<ion-col>
								<p class="text-center" (click)="goBack()">
									<img src="../assets/img/inicio.png" style="width: 40px" alt="">
								</p>
						</ion-col>
						<ion-col>
								<p class="text-center" (click)="logout()">
									<img src="../assets/img/cierre.png" style="width: 40px" alt="">
								</p>
						</ion-col>
				</ion-row>

				<ion-row>

					<ion-col>
						
					</ion-col>
					<ion-col>
						<img class="rounded-image" src="http://salasituacional.vtelca.gob.ve/img/cedulas/{{ cedula }}.jpg" alt="">
						<div class="rounded-circle"></div>
					</ion-col>
					<ion-col>
						
					</ion-col>
				</ion-row>
			</ion-grid>

		</div>
		
	</div>

	<ion-grid class="name">
	
		<ion-row>


			<ion-col size="8" offset="2">
					<h1 class="text-center"> {{ name }}</h1>
			</ion-col>

		</ion-row>
	</ion-grid>

	

	<div id="list">
		<ion-list>

		  	<ion-item>
			    <ion-label>Año</ion-label>
			    <ion-select placeholder="Seleccionar" [(ngModel)]="selectedYear" (ionChange)="selectYear()">
		      		<ion-select-option *ngFor="let year of years" value="{{ year }}">{{ year }}</ion-select-option>
			    </ion-select>
		  	</ion-item>
		  	<ion-item *ngIf="selectedYear < currentYear  || selectedYear == null">
			    <ion-label>Mes</ion-label>
			    <ion-select placeholder="Seleccionar" [(ngModel)]="selectedMonth" (ionChange)="selectMonth()" [disabled]="selectedYear == null">
		      		<ion-select-option *ngFor="let month of months; let i = index" value="{{ i }}" >{{ month }}</ion-select-option>
			    </ion-select>
		  	</ion-item>
		  	<ion-item *ngIf="selectedYear >= currentYear">
			    <ion-label>Mes</ion-label>
			    <ion-select placeholder="Seleccionar" [(ngModel)]="selectedMonth" (ionChange)="selectMonth()" [disabled]="selectedYear == null">
		      		<ng-container *ngFor="let month of months; let i = index">
			      		<ion-select-option  value="{{ i }}"  *ngIf="i <= currentMonth">
			      			{{ month }}
			      		</ion-select-option>
		      		</ng-container>
			    </ion-select>
		  	</ion-item>
		  	<ion-item>
			    <ion-label>Periodo</ion-label>
			    <ion-select placeholder="Seleccionar" [(ngModel)]="selectedPeriod" (ionChange)="selectPeriod()" [disabled]="selectedMonth == null">
		      		<!--<ion-select-option value="1" ngIf="currentDay >= 15 || currentMonth > selectedMonth">Primera quincena</ion-select-option>
		      		<ion-select-option value="2" ngIf="currentDay >= 30 || currentMonth > selectedMonth">Segunda quincena</ion-select-option>-->
		      		<ion-select-option value="1" >Primera quincena</ion-select-option>
		      		<ion-select-option value="2" > Segunda quincena </ion-select-option>
			    </ion-select>
		  	</ion-item>

		  	<ion-grid>
			  <ion-row>
			    <ion-col>
			    </ion-col>
			    <ion-col>
			      <div>
			       	<ion-button color="primary" [disabled]="selectedPeriod == null" (click)="create()">Generar</ion-button>
			      </div>

			    </ion-col>
			    <ion-col>

			    </ion-col>
			  </ion-row>
			</ion-grid>


		</ion-list>
	</div>

	<div id="footer">
		<ion-grid>
			<ion-row style="margin-top: -40px;">
				<ion-col>
						
					<p style="text-align: center;">
						<img src="../assets/img/icono.png" style="width: 40px; margin-left: -11px;" alt="">
					</p>
					
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>


</ion-content>
