<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      	<ion-button color="light" href="/dashboard">
      		<ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
		</ion-button>
    </ion-buttons>
    <ion-title>Constancia</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

	<ion-card style="padding: 2rem;">
		<ion-item>
	  		<ion-label position="floating">Dirigido a:</ion-label>
	 	 	<ion-input [(ngModel)]="dirigido"></ion-input>
		</ion-item>

		<p style="text-align: center;">
			<ion-button shape="round" (click)="create()">Descargar <ion-icon name="download"></ion-icon></ion-button>
		</p>

	</ion-card>

</ion-content>
