
	<ion-content>
		
		<ion-content>

			<div class="main-div">
				<div id="header">
				
					<ion-grid>
				  		<ion-row>

				  			<ion-col size="8" offset="2">
				  				<img src="../assets/img/logo.png">
				  			</ion-col>

				  		</ion-row>
				  	</ion-grid>

				</div>

				<div id="circle">
				
			</div>

				<div id="form">
					<ion-card>

					  	<ion-card-content>
					    	<h1>LOGIN</h1>
					    	<div class="input-section">
					    		<ion-item>
						  			<ion-label position="floating" >Cedula</ion-label>
							  		<ion-input type="tel" [(ngModel)]="cedula" maxlength="8"></ion-input>
								</ion-item>
								<ion-item>
						  			<ion-label position="floating" >Clave</ion-label>
							  		<ion-input type="password" [(ngModel)]="password"></ion-input>
								</ion-item>
					    	</div>
					  	</ion-card-content>

					</ion-card>
					<button class="vtelca-button" (click)="login()">
			    		<ion-icon name="arrow-round-forward" ></ion-icon>
			    	</button>
				</div>
			</div>

			<!--<div id="square">
				
			</div>-->

		</ion-content>

	</ion-content>



