
	<ion-content>
		
		<ion-content>

			<div class="main-div"></div>
				<div id="header">
				
					<ion-grid>
				  		<ion-row>

				  			<ion-col size="8" offset="2" style="align-items: center; text-align: center;">
				  				<img src="../assets/img/logo-vtelca.png" style="margin-top: -20px;">
				  			</ion-col>

				  		</ion-row>
				  	</ion-grid>

				</div>

			<!--<div id="circle">
				
			</div>-->

			<div class="bar">
				<div class="ion-text-center">
					<img src="../assets/img/icono.png" alt="" style="width: 90px; margin-top: -50px">
					<h3 style="margin-top: -10px">Bienvenido</h3>
				</div>
			</div>

			<div class="cover">
				<div class="form-section">

					<ion-grid>

						<ion-row class="border-row">
							<ion-col size="2">
								<img src="../assets/img/iconousuario.png" alt="">
							</ion-col>
							<ion-col>
								<ion-input  class="text-white" type="tel" [(ngModel)]="cedula" maxlength="8"></ion-input>
							</ion-col>
						</ion-row>

						<ion-row class="border-row" style="margin-top: 10px;">
							<ion-col size="2">
								<img src="../assets/img/iconoclave.png" alt="">
							</ion-col>
							<ion-col>
								<ion-input class="text-white" type="password" [(ngModel)]="password"></ion-input>
							</ion-col>
						</ion-row>

						<div class="ion-text-center" style="margin-top: 20px;">
							<button class="login-btn" (click)="login()">Ingresar</button>
						</div>

					</ion-grid>

					<!--<ion-input class="custom-input" ></ion-input>-->
				</div>
			</div>

			<!--<div id="square">
				
			</div>-->

		</ion-content>

	</ion-content>



